<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">

        <title>{{ title | default(base) }}</title>

        <link rel="stylesheet" type="text/css" href="/static/js/Semantic-UI-CSS-2.4.1/semantic.min.css"></script>
        <script src="/static/js/jquery-3.5.1.min.js"></script>
        <script src="/static/Semantic-UI-CSS-2.4.1/semantic.min.js"></script>
        <style type="text/css">
            body {
                background-color: #FFFFFF;
            }

            .ui.menu .item img.logo {
                margin-right: 1.5em;
            }

            .main.container {
                margin-top: 5em;
            }

            .wireframe {
                margin-top: 2em;
            }

            .ui.footer.segment {
                margin: 5em 0em 0em;
                padding: 5em 0em;
            }
        </style>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="/" class="header item">
                    <img class="logo" src="/static/favicon.svg"> {{ title.split('://')[1] }}
                </a>
                <a href="/" class="item">Home</a>
                <a href="/_sparql" class="item">SPARQL</a>
            </div>
        </div>

        <div class="ui main text container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
