# extends "base.html"
# block content
        <h1 class="ui header">{{ title }}</h1>
        {{ description | safe }}

        # if counts['results']['bindings'] != [ {} ]:
        <table class="ui celled table">
            <thead>
                <tr>
                # for v in counts['head']['vars']
                    <th>{{ v }}</th>
                # endfor
                </tr>
            </thead>
            <tbody>
            # for row in counts['results']['bindings']
            #   if row['class']['value'] != 'https://schema.org/WebPage':
                <tr>
                    <td><a href="/_sparql?query={{ ('PREFIX schema:  <https://schema.org/>\n\nSELECT ?uri ?name WHERE {\n  ?uri a <' + row['class']['value'] +'> .\n  ?uri schema:name ?name .\n}') | urlencode }}">{{ row['class']['value'] }}</a></td>
                    <td>{{ row['count']['value'] }}</td>
                </tr>
            #   endif
            # endfor
            </tbody>
        </table>
        # else:
        <div class="ui info message">{{ empty_message | safe | default(None) }} </div>        
        # endif

# endblock

