# extends "base.html"
# block content
            <h1 class="ui header">{{ rdf['name'] }}</h1>
            <span><a href="{{uri}}.xml">XML</a></span>, <span><a href="{{uri}}.ttl">TTL</span></span>, <span><a href="{{uri}}.jsonld">JSON-LD</a></span>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>property</th>
                        <th>value</th>
                    </tr>
                </thead>
                # for key in rdf:
                #   if key not in [ '@included', '@id', '@context' ]
                <tr>
                    <td widht="20%" valign="top"><b>{{ key }}</b></td>
                    <td>
                    # if rdf[key] is mapping:
                        <a href="{{ rdf[key]['@id'] }}">{{ rdf[key].get('name', 'Link') }}</a>
                    # elif rdf[key] is string:
                        {{ rdf[key] }}
                    # elif rdf[key] is iterable:
                        <ul>
                        #   for x in rdf[key] | sort(attribute='name'):
                        <li>
                        #     if x is mapping:
                            <a href="{{ x['@id'] }}">{{ x.get('name', 'Link') }}</a>
                        #     else:
                            {{ x }}
                        #     endif
                        </li>
                        #   endfor
                        </ul>
                    # else:
                        <td></td>
                    # endif
                    </td>
                </tr>
                #   endif
                # endfor
            </table>

            # if rdf.get('@included', None):
            <h2>Related</h2>
            # for rrdf in rdf['@included']:
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>property</th>
                        <th>value</th>
                    </tr>
                </thead>
                # for key in rrdf:
                #   if key not in [ ]:
                <tr>
                    <td width="20em" valign="top"><b>{{ key }}</b></td>
                    <td>
                    # if rrdf[key] is mapping and 'name' in rrdf[key]:
                        <a href="{{ rrdf[key]['@id'] }}">{{ rrdf[key]['name'] }}</a>
                    # elif rrdf[key] is mapping and '@id' in rrdf[key]:
                        <a href="{{ rrdf[key]['@id'] }}">{{ rrdf[key]['@id'] }}</a>
                    # elif key == '@id':
                        <a href="{{ rrdf[key] }}">{{ rrdf[key] }}</a>
                    # else:
                        {{ rrdf[key] }}
                    # endif
                    </td>
                </tr>
                #   endif
                # endfor
            </table>
        # endfor 
        # endif
# endblock

