# extends "base.html"
# block content
        <h1 class="ui header">SPARQL Form</h1>
        <form class="ui form" method="GET">
            <div class="field">
                <label>Query</label>
                <textarea name="query">{{ request.args.get('query', 'PREFIX schema:  <https://schema.org/>\n\nSELECT ?uri ?name WHERE {\n  ?uri a schema:Movie .\n  ?uri schema:name ?name .\n}\nLIMIT 10') }}</textarea>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
        # if result
        <table class="ui padded celled table">
            <thead>
                <tr>
                # for v in result['head']['vars']
                    <th>{{ v }}</th>
                # endfor
                </tr>
            </thead>
            <tbody>
            # for row in result['results']['bindings']
                <tr>
                # for v in result['head']['vars']
                    # if row[v]['type'] == 'uri'
                    <td><a href="{{ row[v]['value'] }}">{{ row[v]['value'] }}</a></td>
                    # else
                    <td>{{ row[v]['value'] }}</td>
                    # endif
                # endfor
            </tr>
            # endfor
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">
                        # if limit != None and offset != None and result['results']['bindings']:
                        #   set page = (offset | int / limit | int + 1) | int
                        <div class="ui right floated pagination menu">
                            # if page != 1:
                            <a href="?limit={{ limit }}&offset={{ [offset | int - limit | int, 0] | max }}&query={{ query | urlencode }}" class="icon item">
                                <i class="left chevron icon"></i>
                            </a>
                            # endif
                            <a class="item">{{ page }}</i>
                            <a href="?limit={{ limit }}&offset={{ offset | int + limit | int }}&query={{ query | urlencode }}" class="icon item">
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                        # endif
                    </th>
                </tr>
            </tfoot>
        </table>
        <a href="?query={{ query| urlencode }}&format=json" rel="nofollow,noindex">JSON</a>
        # elif examples:
        <h2>Examples</h2>
        <ul>
            # for example in examples
            <li><a href="?query={{ (example['query']) | urlencode }}">{{ example['title'] }}</a></li>
            # endfor
        </ul>
        # endif

        # if ex
        <div class="ui info message"><b>Error:</b> {{ ex }}</div>
        # endif
# endblock
