# extends "base.html"
# block content
        <h1 class="ui header">SPARQL Form</h1>
        <form class="ui form" method="GET">
            <div class="field">
                <label>Query</label>
                <textarea name="query">{{ request.args.get('query', 'PREFIX schema:  <https://schema.org/>\n\nSELECT ?uri ?name WHERE {\n  ?uri a schema:Movie .\n  ?uri schema:name ?name .\n}\nLIMIT 10') }}</textarea>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
        # if result
        <table class="ui celled table">
            <thead>
                <tr>
                # for v in result['head']['vars']
                    <th>{{ v }}</th>
                # endfor
                </tr>
            </thead>
            <tbody>
            # for row in result['results']['bindings']
                <tr>
                # for v in result['head']['vars']
                    # if row[v]['type'] == 'uri'
                    <td><a href="{{ row[v]['value'] }}">{{ row[v]['value'] }}</a></td>
                    # else
                    <td>{{ row[v]['value'] }}</td>
                    # endif
                # endfor
            </tr>
            # endfor
            </tbody>
        </table>
        # elif examples:
        <h2>Examples</h2>
        <ul>
            # for example in examples
            <li><a href="?query={{ (example['query']) | urlencode }}">{{ example['title'] }}</a></li>
            # endfor
        </ul>
        # endif

        # if ex
        <div class="ui info message"><b>Error:</b> {{ ex }}</div>
        # endif
# endblock
